<h1>Informe seu código de acesso</h1>

<%= form_with url: "/validar-codigo", method: :post, local: true, data: { turbo: false} do %>
  <div>
    <%= label_tag :codigo, "Código de acesso" %><br>
    <%= text_field_tag :codigo %>
  </div>

  <br>

  <%= submit_tag "Continuar" %>
<% end %>


